<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Delete Position</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="{% url 'employee:index' %}" class="logo-link">SaleScience</a>
            <nav class="navigation">
                <div class="account">
                    <p>Welcome Back : Admin</p>
                </div>
            </nav>
            <div class="hamburger">&equiv;</div>
        </header>

        <main>
            <div class="side">
                <nav class="side-bar-navigation">
                    <ul class="gnav">

                        <li class="list-group">
                            <div class="parent-list">General</div>
                            <ul>
                                <li class="child-list"><a href="{% url 'employee:dashboard' %}">Dashboard</a></li>
                                <li class="child-list"><a href="{% url 'employee:schedule' %}">Schedule</a></li>
                            </ul>
                        </li>

                        <li class="list-group">
                            <div class="parent-list">Masters</div>
                            <ul>
                                <li class="child-list"><a href="{% url 'employee:index' %}">Employees</a></li>
                                <li class="child-list"><a href="{% url 'employee:index_dpt' %}">Departments</a></li>
                                <li class="child-list"><a href="{% url 'employee:index_pst' %}">Positions</a></li>
                                <li class="child-list"><a href="{% url 'employee:index_nt' %}">Nationalities</a></li>
                            </ul>
                        </li>

                        <li class="list-group">
                            <div class="parent-list"><a>People</a></div>
                            <ul>
                                <li class="child-list"><a href="#">Team</a></li>
                                <li class="child-list"><a href="#">Time Off</a></li>
                                <li class="child-list"><a href="#">Expenses</a></li>
                                <li class="child-list"><a href="#">Salary revision</a></li>
                                <li class="child-list"><a href="#">Benefits</a></li>
                            </ul>
                        </li>

                        <li class="list-group">
                            <div class="parent-list"><a>Payment</a></div>
                            <ul>
                                <li class="child-list"><a href="#">Payroll</a></li>
                                <li class="child-list"><a href="#">Invoices</a></li>
                                <li class="child-list"><a href="#">Payment methods</a></li>
                                <li class="child-list"><a href="#">Pay contractors</a></li>
                            </ul>
                        </li>

                        <li class="list-group">
                            <div class="parent-list"><a>Documents</a></div>
                            <ul>
                              <li class="child-list"><a>Agreements</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="main-content">
                <h1 class="page-title">Delete Position</h1>
                <div class="flex-center-container">
                    <div class="d-card">
                        <form method="post" class="delete-form">
                            <div class="flex-center-container">
                                {% csrf_token %}
                                <p class="delete-text">Are you sure you want to delete "{{ position.name }}"?</p>
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn btn-delete">Delete</button>
                                <button type="button" onclick="history.back()" class="btn btn-cancel">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
