<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Details</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="{% url 'employee:index' %}" class="logo-link">SaleScience</a>
            <nav class="navigation">
                <div class="account">
                    <p>Welcome Back : Admin</p>
                </div>
            </nav>
            <div class="hamburger">&equiv;</div>
        </header>
        <main>
            <div class="side">
                <nav class="side-bar-navigation">
                    <ul class="gnav">

                        <li class="list-group">
                            <div class="parent-list">General</div>
                            <ul>
                                <li class="child-list"><a href="{% url 'employee:dashboard' %}">Dashboard</a></li>
                                <li class="child-list"><a href="{% url 'employee:schedule' %}">Schedule</a></li>
                            </ul>
                        </li>
                        <li class="list-group">
                            <div class="parent-list">Masters</div>
                            <ul>
                                <li class="child-list"><a href="{% url 'employee:index' %}">Employees</a></li>
                                <li class="child-list"><a href="{% url 'employee:index_dpt' %}">Departments</a></li>
                                <li class="child-list"><a href="{% url 'employee:index_pst' %}">Positions</a></li>
                                <li class="child-list"><a href="{% url 'employee:index_nt' %}">Nationalities</a></li>
                            </ul>
                        </li>
                        <li class="list-group">
                            <div class="parent-list"><a>People</a></div>
                            <ul>
                                <li class="child-list"><a href="#">Team</a></li>
                                <li class="child-list"><a href="#">Time Off</a></li>
                                <li class="child-list"><a href="#">Expenses</a></li>
                                <li class="child-list"><a href="#">Salary revision</a></li>
                                <li class="child-list"><a href="#">Benefits</a></li>
                            </ul>
                        </li>
                        <li class="list-group">
                            <div class="parent-list"><a>Payment</a></div>
                            <ul>
                                <li class="child-list"><a href="#">Payroll</a></li>
                                <li class="child-list"><a href="#">Invoices</a></li>
                                <li class="child-list"><a href="#">Payment methods</a></li>
                                <li class="child-list"><a href="#">Pay contractors</a></li>
                            </ul>
                        </li>
                        <li class="list-group">
                            <div class="parent-list"><a>Documents</a></div>
                            <ul>
                              <li class="child-list"><a>Agreements</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="main-content">
                <h1 class="page-title">Employee details  -- {{ employee.name }}</h1>
                <div class="flex-center-container">
                    <a href="{% url 'employee:edit_employee' employee.id %}" class="btn btn-edit">Edit</a>
                    <a href="{% url 'employee:delete_employee' employee.id %}" class="btn btn-delete">Delete</a>
                    <a href="#" onclick="history.back()" class="btn btn-go-back">Go Back</a>
                </div>
                <div class="ed-grid">
                    <div class="cell-1">
                        <div class="card">
                            <div class="employee-image-name">
                                <img src="{{ employee.image.url }}" alt="Employee Image" width="150">
                                <p class="employee-detail-name">{{ employee.name }}</p>
                                <div class="flex-center-container">
                                    <div class="icons">
                                        <img src="../static/tel.webp" alt="tel">
                                    </div>
                                    <div class="icons">
                                        <img src="../static/email.webp" alt="email">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-2">
                        <div class="card">
                            <div class="column basic-info">
                                <div class="card-header">
                                    <h3 class="ribbon detail-header">Detailed Information</h3>
                                </div>
                                <div class="employee-details">
                                   <table class="employee-detail-table">
                                        <tr>
                                            <td><span class="detail-label">ID:</span></td>
                                            <td>{{ employee.empcode }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="detail-label">Position:</span></td>
                                            <td>{{ employee.position }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="detail-label">Dept:</span></td>
                                            <td>{{ employee.department.name }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="detail-label">Start:</span></td>
                                            <td>{{ employee.start }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="detail-label">E-mail:</span></td>
                                            <td>{{ employee.email }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="detail-label">Region:</span></td>
                                            <td>{{ employee.workplace }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="detail-label">Gender:</span></td>
                                            <td>{{ employee.gender }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="detail-label">Nationality:</span></td>
                                            <td>{{ employee.country }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="cell-3">
                        <div class="card">
                            <div class="column personal info">
                                <div class="card-header">
                                    <h3 class="ribbon detail-header">Personal Info</h3>
                                </div>
                                <div class="card-text">
                                    <p class="detailed-info"><span class="big-label">Gender:</span> {{employee.gender}}</p>
                                    <p class="detailed-info"><span class="big-label">Country:</span> {{employee.country}}</p>
                                    <p class="detailed-info"><span class="big-label">Date of Birth:</span> {{employee.dob}}</p>
                                    <p><span class="big-label">Email:</span> {{ employee.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
-->
                    <div class="cell-4">
                        <div class="card">
                            <div class="column">
                                <div class="card-header">
                                    <h3 class="ribbon detail-header">Working Experience</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-5">
                        <div class="card">
                            <div class="column">
                                <div class="card-header">
                                    <h3 class="ribbon detail-header">Skills</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-6">
                        <div class="card">
                            <div class="column">
                                <div class="card-header">
                                    <h3 class="ribbon detail-header">Schedule</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-7">
                        <div class="card">
                            <div class="column">
                                <div class="card-header">
                                    <h3 class="ribbon detail-header">Performance</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-8">
                        <div class="card">
                            <div class="column">
                                <div class="card-header">
                                    <h3 class="ribbon detail-header">Activity</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>